__pycache__/
*.pyc
.venv/
.pytest_cache/
.ipynb_checkpoints/

data/raw/*
data/processed/*
data/shapefile/*
output/maps/*
output/figures/*
output/report/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/shapefile/.gitkeep
!output/maps/.gitkeep
!output/figures/.gitkeep
!output/report/.gitkeep
